

::-webkit-scrollbar {
    width:0px;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-family: topic;

}
main {
	min-height: 100vh;
}
footer p {
	text-align: center;
	padding: 10px;
	font-size: 20px;
}
ul,p {
	font-size: 30px;
}


footer hr {
	width: 120vh;
}
nav {
	text-align: center;
	background-color: white;
	z-index: 10;
	position: sticky;
 	top: 0;
}

nav a {
	display: inline-block;
	font-family: font1;
	text-decoration: none;
	color: black;
	font-size: 1.2em;
	margin: 10px;

}
nav a:hover {
	padding: 10px;
	margin: 0px;
	background-color: black;
	color : white;
	border-bottom: 2px solid white;
}

.actif {
	padding: 10px;
	margin: 0px;
	background-color: black;
	color : white;
	border-bottom: 2px solid white;
}
.login {
	padding-top: 10%;
	text-align: center;
	display: flex;

	flex-direction: column;
}
.login hr {
	width : 125vh;
	padding: 20px;
}
.psn {
	display: flex;
	flex-direction: row;
	align-items: center;

}

.psn img {
	max-width: 500px;
	max-height : 500px;
	margin: 20px;


}

.xbox {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.xbox img {
	max-width: 500px;
	max-height : 500px;
	margin: 20px;


}
.switch {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.switch img {
	max-width: 500px;
	max-height : 500px;
	margin: 20px;

}

main {
	margin-left: 20px;
}
form {
	text-align: center;
}

.phpclass {
	font-size: 150%;
}
